#grid {
    display: grid;
    grid-template-columns: repeat(14, 40px);
    grid-template-rows: repeat(14, 40px);
    margin: 20px;
}

.buttonsPanel {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    justify-content: center;
}

.colorBtn {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0s ease;
    transition-delay: 0.4s;
}

.turnsLab {
    text-transform: uppercase;
}

.icon {
    height: 80%;
    color: white;
    fill: currentColor;
}

.color-BLUE {
    background-color: blue;
}

.color-GREEN {
    background-color: green;
}

.color-YELLOW {
    background-color: yellow;
}

.color-VIOLET {
    background-color: violet;
}

.color-RED {
    background-color: red;
}

.color-PINK {
    background-color: pink;
}

.animacion {
    animation: test 0.8s ease-in-out;
}

@keyframes test {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blanco {
    color: white;
}

.caja {
    border: white 2px solid;
}