#grid {
    display: grid;
    grid-template-columns: repeat(14, 40px);
    grid-template-rows: repeat(14, 40px);
    margin: 20px;
}

.buttonsPanel {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    justify-content: center;
}

.colorBtn {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

.turnsLab {
    text-transform: uppercase;
}