#grid {
    display: grid;
    grid-template-columns: repeat(14, 40px);
    grid-template-rows: repeat(14, 40px);
    margin: 20px;
}

.buttonsPanel {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    justify-content: center;
}

.colorBtn {
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

.turnsLab {
    text-transform: uppercase;
}

.icon {
    height: 80%;
    color: white;
    fill: currentColor;
}

.color-BLUE {
    background-color: blue;
    transition: background-color 0.5s ease;
}

.color-GREEN {
    background-color: green;
    transition: background-color 0.5s ease;
}

.color-YELLOW {
    background-color: yellow;
    transition: background-color 0.5s ease;
}

.color-VIOLET {
    background-color: violet;
    transition: background-color 0.5s ease;
}

.color-RED {
    background-color: red;
    transition: background-color 0.5s ease;
}

.color-PINK {
    background-color: pink;
    transition: background-color 0.5s ease;
}